flask>=2.0.3,<2.3.0  # 2.3.0 removes before_first_request
flask-talisman
flask-caching
flask-cors
gunicorn>=19.6.0
gevent
markdown
toml
Pygments
requests
packaging

# edulint is installed by setup.py
